<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>

<ul>
  <li><strong>Ticker:</strong>
  <%= @option.ticker %>
  </li>
  <li>
    <strong>Side:</strong>
    <%= @option.side %>
  </li>
  <li>
    <strong>Optiontype:</strong>
    <%= @option.optiontype %>
  </li>
  <li>
    <strong>Contracts:</strong>
    <%= @option.contracts %>
  </li>
  <li>
    <strong>Size:</strong>
    <%= @option.size %>
  </li>
  <li>
    <strong>Expiration:</strong>
    <%= @option.expiration.to_s(:exp_date) %>
  </li>
  <li>
    <strong>Strike:</strong>
    <%= @option.strike %>
  </li>
  <li>
    <strong>Entryprice:</strong>
    <%= @option.entryprice %>
  </li>
  <li>
    <strong>Entryfee:</strong>
    <%= @option.entryfee %>
  </li>
  <li>
    <strong>Exitprice:</strong>
    <%= @option.exitprice %>
  </li>
  <li>
    <strong>Exitfee:</strong>
    <%= @option.exitfee %>
  </li>
  <li>
    <strong>Entrydate:</strong>
    <%= @option.entrydate.to_s(:trade_date) %>
  </li>
  <li>
    <strong>Exitdate:</strong>
    <%= @option.exitdate.to_s(:trade_date) %>
  </li>
  <li>
    <strong>Status:</strong>
    <% if @option.isactive %>
      Open
    <% else %>
      Closed
    <% end %>
  </li>
</ul>
<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
